<div class="selection-container">
  <h1 class="selection-title">{{ title }}</h1>
  <div class="button-grid">
    {% for item in data %}
      <a href="./{{ item }}/" class="selection-button">{{ item }}</a>
    {% endfor %}
  </div>
</div>
