filename: "{{ data.filename }}"
#TODO: bring up more details from symdeb
binary: "{{ data.binary }}"
description: "{{ data.description | default('') }}"
appearances:
{% for appearance in data.appearances %}
  - version: "{{ appearance.version }}"
    tree: {{ appearance.source_tree | default([]) }}
    segments:
    {% for segment in appearance.segments %}
      - num: "{{ segment.num }}"
        name: "{{ segment.name }}"
        offset: "{{ segment.offset }}"
        symbols:
        {% for symbol in segment.symbols %}
          - name: '{{ symbol.name }}'
            processed: "{{ symbol.demangled }}"
            offset: "{{ symbol.offset }}"            
        {% endfor %}
    {% endfor %}
{% endfor %}
